# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
xcuserdata/
DerivedData/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcodeproj/xcuserdata/

# Swift Package Manager
/.build
/Packages
Package.resolved
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Credentials
.netrc
